<%= render "events/header-second" %>
<div class="main-index">
  <div class="main-content">
    <div class="top-message">
      <h1>イベント内容の確認</h1>
    </div>
    <div class="entry-super">
      <%= image_tag @event.image, class:"entry-image" %>
    </div>
    <%= form_with model:[@event, @entry],local: true do |f| %>
    <div class="card-box">
      <div class="card-header">
        申し込みイベント
      </div>
      <div class="card-body">
        <table class="card-table">
          <tbody>
            <tr>
              <th>イベント名</th>
              <td><%= @event.name %></td>
              <%= f.hidden_field :@event_id, value:@event.name %>
            </tr>
            <tr>
              <th>イベントの日時</th>
              <td><%= @event.day %></td>
              <%= f.hidden_field :event_id, value:@event.day %>
            </tr>
            <tr>
              <th>イベントの開催場所</th>
              <td><%= @event.place %></td>
              <%= f.hidden_field :@event_id, value:@event.place %>
            </tr>
          </tbody>
        </table>
        <div class='user-edit-btn'>
          <%= link_to "イベントの変更", "#", class:"edit-btn" %>
        </div>
      </div>
    </div>
    <div class="card-box">
      <div class="card-header">
        お客様ご連絡先
      </div>
      <div class="card-body">
        <table class="card-table">
          <tbody>
            <tr>
              <th>お名前</th>
              <td><%= current_user.nickname %></td>
              <%= f.hidden_field :user_id, value:current_user.nickname %>
            </tr>
            <tr>
              <th>お電話番号</th>
              <td><%= current_user.phone_number %></td>
              <%= f.hidden_field :user_id, value:current_user.phone_number %>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= current_user.email %></td>
              <%= f.hidden_field :user_id, value:current_user.email %>
            </tr>
          </tbody>
        </table>
        <div class='user-edit-btn'>
          <%= link_to "ご連絡先の変更", "#", class:"edit-btn" %>
        </div>
      </div>
    </div>
    <div class='submit-btn'>
        <%= f.submit "お申し込みの確定" ,class:"submit-btn-text" %>
    </div>
    <% end %>
  </div>
</div>