<%= render "events/header-second" %>
<div class="main-index">
  <div class="main-content">
    <div class="top-message">
      <h1>イベント内容の確認</h1>
    </div>
    <div class="entry-super">
      <%= image_tag @event.image, class:"entry-image" %>
    </div>
    <table class="events-table">
      <tbody>
        <tr>
          <th>
            イベント名
          </th>
          <td>
            <%= @event.name %>
          </td>
        </tr>
        <tr>
          <th>
            イベントの日時
          </th>
          <td>
            <%= @event.date %>
          </td>
        </tr>
        <tr>
          <th>
            開催場所
          </th>
          <td>
           <%= @event.place %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
