<%= render "events/header-second" %>
<div class="events-main-contents">
  <div class="event-create-main">
    <h1 class="events-create-title"><%= @user.nickname %>さんの投稿一覧</h1>
  </div>
  <% if user_signed_in? %>
    <% if current_user.id == @user.id  %> 
      <%= link_to "ユーザー登録情報の確認",  mypage_user_path(@user.id), class: "user-edit-btn" %>
    <% end %>
  <% end %>
  <%if @events.present? %>
    <ul class="main-list">
        <% @events.each do |event|%>
          <li class="event-info">
            <div class="sports-genre">      
              <%= event.genre.name %>
            </div>
            <div class="sports-area">
              <%= event.area.name %>
            </div>
            <%= link_to event_path(event.id), class:"img-link" do %>
              <%= image_tag event.image.variant(resize: '500x400') %>
            <% end %>
            <h2 class="event-name"><%= link_to event.name, event_path(event.id), class:"event-name-font" %></h2>
            <dl class="event-exp">
              <dt>
                <img src="https://images.e-venz.com/frontend/image/location.svg" class="Location lazy" alt="Location">
              </dt>
              <dd><%= event.place %></dd>
              <dt>
                <img src="https://images.e-venz.com/frontend/image/women.svg" alt="Women" class="lazy">
              </dt>
              <dd><%= event.capacity %>人</dd>
              <dt>
                <img src="https://images.e-venz.com/frontend/image/calendar.svg" alt="Calendar" class="lazy">
              </dt>
              <dd><%= event.day.month %>月<%= event.day.day %>日 <%= event.start_time.name %> ~ <%= event.end_time.name %></dd>
              <%= render partial: "events/like", locals: { event: event } %>
            </dl>
            
          </li>
        <% end %>
        <%= paginate @events %>
    <ul>
  <% else %>
    <h2>まだ投稿がございません</h2>
  <% end %>
</div>
<%= render "events/footer" %>
