<%= render "header" %>
<div class="events-main-contents">
  <div class="event-create-main">
    <h1 class="events-create-title"><%= @event.name %></h1>
  </div>

  <div class="event-super">
   <%= image_tag @event.image, class:"top-image" %>
  </div>
  <table class="events-table">
      <tbody>
        <tr>
          <th>
            イベント名
          </th>
          <td>
            <%= @event.name %>
          </td>
        </tr>
        <tr>
          <th>
            イベントの内容
          </th>
          <td>
            <%= @event.explanation %>
          </td>
        </tr>
        <tr>
          <th>
            イベントのジャンル
          </th>
          <td>
           <%= @event.genre.name %>
          </td>
        </tr>
        <tr>
          <th>
            イベントの日時
          </th>
          <td>
           <%= @event.day.year %>年<%= @event.day.month %>月<%= @event.day.day %>日
          </td>
        </tr>
        <tr>
          <th>
            予定人数
          </th>
          <td>
           <%= @event.capacity %>人
          </td>
        </tr>
        <tr>
          <th>
            現在の人数
          </th>
          <td>
            <%= @event.entries.count %>人
          </td>
        </tr>
        <tr>
          <th>
            都道府県
          </th>
          <td>
           <%= @event.area.name %>
          </td>
        </tr>
        <tr>
          <th>
            開催場所
          </th>
          <td>
           <%= @event.place %>
          </td>
        </tr>
      </tbody>
  </table>
  <% if user_signed_in? %>
    <% if current_user.id == @event.user_id  %> 
      <div class="event-edit-btn">
        <%= link_to "イベントの編集", edit_event_path(@event.id), method: :get, class: "edit-path-btn" %>
        <%= link_to "イベントの削除", event_path(@event.id), method: :delete, data: { confirm: '削除しますか？' }, class: "delete-path-btn" %>
      </div>
    <% else %>
      <div class="event-entry-btn">
        <%= link_to "申し込みをする", event_entries_path(@event.id),class:"entry-btn" %>
      </div>
    <% end %>
  <% end %>
</div>