<%= render "events/header-second" %>

<%= form_with model: @user, url: user_session_path, class: 'events-create-contents', local: true do |f| %>
  <div class='event-create-main'>
      <h1 class="events-create-title">会員情報入力</h1>
      <div class="login-no-account">
        <p>アカウントをお持ちでない方はこちら</p>
        <div class="no-logins">
          <%= link_to "新規会員登録", new_user_registration_path, class:"account-btn" %>
        </div>
        <div class="login-box-logos">
          <%= link_to user_facebook_omniauth_authorize_path, method: :post, class:"facebook-logos" do %>
            <i class="fab fa-facebook"></i><p class="logo-font">Facebookで登録</p>
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class:"google-logos" do %>
            <i class="fab fa-google"></i><p class="logo-font">Googleで登録</p>
          <% end %>
        </div>
      </div>
      <%= render 'shared/error_messages', model: f.object %>
      
      <table class="events-table">
        <tbody>
          <tr>
            <th>
              メールアドレス
              <br>
              <span class="mandatory">必須</span>
            </th>
            <td>
              <%= f.email_field :email, class:"event-form-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
            </td>
          </tr>
          <tr>
            <th>
              パスワード
              <br>
              <span class="mandatory">必須</span>
            </th>
            <td>
              <%= f.password_field :password, class:"event-form-default", id:"password", placeholder:"6文字以上の半角英数字" %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class='submit-btn'>
      <%= f.submit "ログイン" ,class:"submit-btn-text" %>
      </div>
  </div>
<% end %>
<%= render "events/footer" %>